.card-line{
  position: relative;
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0 30px 0;
  border: 1px solid #d6e4ef;
  background: #d6e4ef;
  border-radius: 24px;
  box-shadow: 0 4px 30px 0 rgba(4, 59, 85, 0.1);
  transition: border-color 0.15s;
  margin: 0 0 20px 0;
  &:active{
    border: 1px solid rgb(120, 177, 243);
    box-shadow: 0 4px 30px 0 rgba(120, 177, 243, 0.1);
    .card-body{
      &::before {
        border-color: rgb(120, 177, 243);
      }
    }
  }
  .card-body{
    position: relative;
    width: 100%;
    padding-left: 100px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      left: 40px;
      top: calc(~'50% - 8px');
      width: 14px;
      height: 14px;
      border-radius: 50%;
      transition: border-color 0.15s;
      border: 6px solid #0c212b;
    }
    .main{
      display: flex;
      flex-direction: column;
      .title{
        font-size: 36px;
        color: #616367;
      }
      .describe{
        font-size: 24px;
        color: rgb(153, 153, 153);
      }
    }
    .more{
      position: relative;
      width: 8px;
      height: 8px;
      background: #0c212b;
      border-radius: 50%;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: -23px;
        width: 8px;
        height: 8px;
        background: #0c212b;
        border-radius: 50%;
      }
      &::after{
        content: '';
        position: absolute;
        top: 0;
        right: -23px;
        width: 8px;
        height: 8px;
        background: #0c212b;
        border-radius: 50%;
      }
    }
  }
}